.text{
    background-color: var(--footer-color);
    font-family: 'Quintessential', cursive;
font-size: 2rem;
}

.text p{
text-align: center;
}

.text ol{
 /*    border:1px dashed red; */
display: flex;
justify-content:space-around;
font-size: 1rem;
}