article > div:first-child{
    position:absolute;
    left:10%;
    top:50%;
    
    transform: rotate(10deg);
}
article > div:nth-child(2){
    position:absolute;
    left:15%;
    top:35%;
    transform: rotate(10deg);
}

article > div:nth-child(3){
    position:absolute;
    left:22%;
    top:20%;
    transform: rotate(10deg);
} 
 

article > div:last-child{
    position:absolute;
    left:30%;
    top:0.2%;
    transform: rotate(10deg);
} 

article > div  {
    filter:grayscale(100);
    opacity:0.5;
}

article > div:hover{
    transform: rotate(0);
    z-index:1;
    filter:none;
    opacity: 1;
    transition: 0.5s;
}

 