article > div:first-child{
    position:absolute;
    left:10%;
    top:50%;
}
article > div:nth-child(2){
    position:absolute;
    left:15%;
    top:35%;
}

article > div:nth-child(3){
    position:absolute;
    left:22%;
    top:20%;
} 
 

article > div:last-child{
    position:absolute;
    left:30%;
    top:0.2%;
} 


 